 * { box-sizing: border-box; }
body { background-color: #ffffff;
	color: #880808; 
	font-family: Roboto;
}
#wrapper {width: 100%;
			
			background-color: #B22222;
			background-image: linear-gradient(to bottom, #FFFFFF, #727c83);
			
}
header { background-color: #727C83;
	color: #727C83; 
	text-align: center;
}
header a 			{text-decoration: none}
header a:link 		{color: #FF0000;}
header a:visited	{color: #420D09;}
header a:hover		{color: #ED2939;}
h1 {margin-bottom: 0; 
		margin-top: 0;
		font-family: Roboto;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
}
nav { 	
		text-align: center;
		font-weight: bold;
		padding: 0;
		font-size: 1.2em;
}
nav ul { 
			text-align: center;
			list-style-type: none;
			margin: 0;
			padding: auto;
			font-size: 1.2em;
}
nav a {text-decoration: none; }
nav a:link 		{color: #FF0000; }
nav a:visited	{color: #420D09; }
nav a:hover 	{color: #ED2939; }
main {background-color: #FFFFFF;

		padding: 1px 20px 20px 30px;
		display: block;
		overflow: auto;
}
h2 { color: #B22222; 
	text-shadow: 1px 1px #CCCCCC;
	font-family: Roboto; }
h3 { color: #B22222;
	font-family: Roboto; }
main ul {color: #880808; }
main a:link		{color: #FF0000; }
main a:visited	{color: #420D09; }
main a:hover 	{color: #ED2939; }
dt { color: #B22222; }
.title { color: 420D09; 
		font-weight: bold; }
#contact { font-size: 90%; }
footer {
		background-color: #FFFFFF;
		font-size: 75%;
		font-style: italic;
		text-align: center;
		font-family: Roboto; }
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

div {
	margin: 10vw, 10vh;
    width: 100vw;
    height: 100vh;
}
img {
	height: 30%;
	width: 30%;
	float: left;
}
chartxt {
	margin-left: 7em;
}

table { border: 2px solid #880808;
margin-left: auto;
margin-right: auto;
border-collapse: collapse; }
th {padding: 2.5em; border: 2px solid #880808;}
th {text-align: center;
font-size: 120%;}
.text {text-align: left;}
form {display: flex; flex-flow:column nowrap;}
input,textarea {margin-bottom: .5em;}
@media (min-width: 600px) {
			nav ul {display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					justify-content: space-around; }
			nav li {border-bottom: none; }

			}
			.content main {display: grid;
			grid-template-rows: auto;
			grid-template-columns: 1fr 1fr 1fr; }
			h2 {grid-row: 1 / 2; grid-column: auto; }
			#special {grid-row: auto; grid-column; 1 / 5;}
			footer {grid-row: auto; grid-column: 1 / 5;}
			form  {display: grid;
				grid-gap: 1em; gap: 1em;
				grid-template-columns: 6em 1fr;
				grid-template-rows: auto;
				width: 60%;
			input{type="submit"} {grid-column: 2 / 3;
			width: 9em; }
@media (min-width: 3840px) {
			#wrapper { margin: auto;
					width: 80%;
					border: 1px solid #002171;
					box-shadow: 3px 3px 3px #002171;
			}

			@supports (display: grid) {
					nav ul { flex-direction: column;
					padding-top: 1em; }
					.hero { grid-area: hero; }
					header {grid-area: header; }
					nav {grid-area: nav; }
					main {grid-area: main; }
					footer {background-color: #DDDDDD;
					font-size: 75%;
					font-style: italic;
					text-align: center;
					padding: 2em;
					font-family: Roboto;
					}
					#wrapper { display: grid;
								grid-template:
									"header header"
									"nav	hero"
									"nav	main"
									"nav	footer"
									/ 180px 1fr;
					}
			}
}