body { background-color: white;
       color: #ffffff; 
	   font-family: Arial, Helvetica, sans-serif;}
header { background-color: #727c83; 
         color: #ffffff; 
		 line-height: 400%;
		 text-indent: 1em;}
h2 { color: #880808; 
     font-family: Georgia, "Times New Roman", serif; }
p { color : #000033; 
    font-family: Georgia, "Times New Roman", serif; }	
